
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');

:root {
    --cor-principal: #05284f;
    --cor-secundaria: #ffd45c;
    --cor-destaque: #c0d97e
    --cor-de-fundo: #ffd2cf;
}

body {
   background-color: var(--cor-de-fundo);
   font-family: "Josefin Sans", sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal)
}

footer a:hover {
    color: var(--cor-destaque);
}
